@font-face {
  font-family: 'AdventPro-ExtraLight';
  src: url('../fonts/AdventPro-ExtraLight.ttf');
}

@font-face {
  font-family: 'Penna';
  src: url('../fonts/penna.otf');
}

@font-face {
  font-family: 'Proxima-Nova-Regular';
  src: url('../fonts/Proxima-Nova-Regular.ttf');
}

@font-face {
  font-family: 'Futura-PT-Medium';
  src: url('../fonts/Futura-PT-Medium.otf');
}

* {
  font-family: 'Proxima-Nova-Regular';
}

::selection {
  background: rgba(242, 56, 90, 1);
  color: white;
  /* WebKit/Blink Browsers */
}

::-webkit-scrollbar {
  width: 0px;
  background: rgba(255, 255, 255, 0);
}

.NoSelection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.NoMobileHighlight {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.Flex {
  flex: 1;
}

.FullWidth {
  width: 100%;
}

.PaddingVertical {
  margin-top: 30px;
  margin-bottom: 30px;
}

.Container {
  position: absolute;
  top: 4.5vh;
  left: 10vw;
  bottom: 4.5vh;
  right: 10vw;
}

.MobileNavBar {
  display: none;
}

.MobileDivider {
  border: 0;
  height: 0px;
}

.Header {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding-bottom: 10px;
}

.Body {
  display: flex;
  flex-direction: column;
}

.IntroHeader {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.NavHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Divider {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.NameLink {
  text-decoration: none;
  color: black;
}

.NameLabel {
  font-family: 'Penna';
  font-size: 45px;
  font-weight: bold;
  line-height: 0px;
  letter-spacing: 5px;
}

.MobileNameLabelFirst {
  display: none;
}

.MobileNameLabelLast {
  display: none;
}

.NameLabel:hover {
  color: rgba(242, 56, 90, 1);
  cursor: pointer;
}

.AboutLabel {
  font-family: 'AdventPro-ExtraLight';
  font-size: 17px;
  color: rgba(94,124,136,1);
  letter-spacing: 3px;
  margin-top: -10px;
  text-indent: 10px;
}

.AboutLabelSecond {
  font-family: 'AdventPro-ExtraLight';
  font-size: 17px;
  color: rgba(94, 124, 136, 1);
  letter-spacing: 3px;
  margin-top: -10px;
  text-indent: 10px;
}

.NavHeaderLink {
  font-family: 'AdventPro-ExtraLight';
  font-size: 18px;
  letter-spacing: 1px;
  margin-left: 30px;
}

.NavHeaderLink:hover {
  cursor: pointer;
  color: black;
  font-weight: bold;
  -webkit-transition: color 0.8s;
  -moz-transition: color 0.8s;
  transition: color 0.8s;
}

.NavLink {
  cursor: pointer;
  text-decoration: none;
  color: gray;
}

.NavLinkActive {
  cursor: pointer;
  color: black;
  font-weight: bold;
}

.ShortIntro {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.IntroHello {
  font-family: 'Futura-PT-Medium';
  font-size: 22px;
  font-weight: bold;
  color: black;
  letter-spacing: 0px;
}

.IntroAbout {
  font-size: 18px;
  margin-top: -10px;
  color:gray;
}

.TechLinks {
  font-size: 18px;
  margin-top: -10px;
  color:gray;
  font-weight: normal;
  text-decoration: none;
}

.TechLinks:hover {
  color: rgba(242, 56, 90, 1);
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.TechWebsite {
  font-size: 18px;
  margin-top: -10px;
  text-decoration: none;
  color: rgba(242, 56, 90, 1);
  cursor: pointer;
  font-weight: bold;
}

.DetailPageIntro {
  margin-top: 10px;
}

.DetailPageTitle {
  margin-top: 0px;
}

.LinkText {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.LinkText:hover {
  color: rgba(242, 56, 90, 1);
  cursor: pointer;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.GenericLink {
  color: black;
  text-decoration: none;
}

.GenericLink:hover {
  color: rgba(242, 56, 90, 1);
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 1);
}

.ReactModal__Body--open {
  overflow: hidden;
  overflow-y: hidden;
}

.Modal {
  position: absolute;
  top: 4.5vh;
  left: 10vw;
  bottom: 4.5vh;
  right: 10vw;
  outline: none !important;
}

.ModalFrame {
  position: relative;
  height: 100%;
}

.ModalScroll {
  height: 100%;
  overflow-x: auto;
}

.ModalContainer {
  margin-top: 100px;
  margin-bottom: 50px;
}

.ModalSection {
  margin-top: 40px;
  margin-bottom: 40px;
}

.ModalTitle {
  font-family: 'Futura-PT-Medium';
  font-size: 32px;
  font-weight: bold;
  color: black;
  letter-spacing: 0px;
  margin-top: -40px;
}

.ModalTitle2 {
  font-family: 'Futura-PT-Medium';
  font-size: 22px;
  font-weight: bold;
  color: black;
  letter-spacing: 0px;
}

.CloseIcon {
  position: absolute;
  top: 20px;
  right: 0px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.CloseIcon:hover {
  opacity: 1;
}

.CloseIcon:before,
.CloseIcon:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}

.CloseIcon:before {
  transform: rotate(45deg);
}

.CloseIcon:after {
  transform: rotate(-45deg);
}

.ModalImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 35px;
  margin-bottom: 35px;
}

.ModalImage {
  width: 100%;
  height: auto;
  border-radius: 2px;
}

.GridContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

.GridRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.GridRowBlog {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.GridBox {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 340px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.GridBox:hover {
  cursor: pointer;
}

.BoxImage {
  width: 280px;
  height: 280px;
  text-align: center;
}

.GridRectangle {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 280px;
  margin-bottom: 35px;
  text-align: center;
}

.RectangleImage {
  width: 300px;
  height: 240px;
  background: linear-gradient(-45deg, rgba(242, 56, 90, 1), #D76D77, #FFAF7B);
  text-align: center;
}

.BoxLabel {
  margin-top: 10px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.BlogLink {
  text-decoration: none;
  color:inherit;
}

.BlogLink:hover {
  color: rgba(242, 56, 90, 1);
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.BlogPosts {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.BlogPostsLabel {
  font-family: 'Futura-PT-Medium';
  font-size: 22px;
  font-weight: bold;
  color: black;
  letter-spacing: 1px;
}

.GridRow2 {
  display: none;
}

.GridRowBlog2 {
  display: none;
}

.BlogReadMore {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 20px;
}

.ReadMoreLabel {
  margin-right: 10px;
}

.DetailGrid {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.DetailRow {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-bottom: 30px;
}

.MentionsDetailRow {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.DetailRowLeftContainer {
  display: flex;
  flex: 1;
  justify-content: center;
}

.DetailRowRightContainer {
  display: flex;
  flex-direction: column;
  flex: 1.2;
  margin-left: 30px;
}

.OpenSourceImage {
  width: 350px;
  height: 204px;
  border-radius: 2px;
}

.DetailButtonContainer {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: flex-start;
}

.DetailButton {
  width: 60px;
  padding: 12px 22px;
  font-size: 13px;
  letter-spacing: 1px;
  background-color: #272727;
  border-color: #272727;
  color: white;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 2px;
  margin-right: 20px;
  text-align: center;
}

.DetailButton:hover {
  background-color: rgba(242, 56, 90, 1);
  cursor: pointer;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.OpenSourceAboutText {
  font-size: 18px;
  color: gray;
}

.OpenSourceTitleLabel {
  font-family: 'Futura-PT-Medium';
  font-size: 22px;
  font-weight: bold;
  color: black;
  letter-spacing: 0px;
  margin-top: -5px;
}

.OpenSourceAboutLabel {
  font-family: 'AdventPro-ExtraLight';
  font-size: 17px;
  color: rgba(94, 124, 136, 1);
  letter-spacing: 3px;
  margin-top: -10px;
}

.StarsLabel {
  font-family: 'Penna';
  font-size: 40px;
  font-weight: bold;
  line-height: 0px;
  letter-spacing: 5px;
}

.MentionsRowLeftContainer {
  display: flex;
  flex: 2;
  height: 370px;
  justify-content: center;
}

.MentionsRowRightContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 30px;
}

.MentionsImage {
  width: 595px;
  height: 335px;
  border-radius: 2px;
}

.QuotesContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.BlockQuote {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 40px;
  -webkit-margin-end: 40px;
  padding: 0 0 0 1em;
  border: 1px solid #777;
  border-width: 0 0 0 1px;
}

.QuoteText {
  font-size: 18px;
  color:gray;
  margin-top: 0px;
  margin-bottom: 0px;
}

.QuoteAuthor {
  display: flex;
  justify-content: flex-end;
  margin-top: -10px;
  color: black;
}

.NotFoundContainer {
  margin-top: 20vh;
  margin-bottom: 20vh;
  text-align: center;
}

.NotFoundLabel {
  text-align: center;
  font-family: 'Penna';
  font-size: 40px;
  font-weight: bold;
  line-height: 50px;
  letter-spacing: 5px;
}

.About {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-bottom: 30px;
}

.AboutLeftContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AboutRightContainer {
  flex: 2;
  margin-left: 20px;
  margin-top: 20px;
}

.ProfileImageContainer {
  flex: 1;
  margin-top: 50px;
}

.ProfileImage {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

.LogosImageContainer {
  flex: 2;
  flex-direction: column;
  margin-top: 10px;
  text-align: center;
}

.LogosImageRow {
  flex: 1;
  flex-direction: row;
}

.Logo {
  height: 35px;
  width: 35px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 20px;
}

.AboutText {
  font-size: 18px;
  color:gray;
}

.MentionsAboutText {
  font-size: 18px;
  color:gray;
}

.HeartFeedback {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Heart {
  cursor: pointer;
  height: 80px;
  width: 80px;
  background-image: url('https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 2900%;
}

.Heart:hover {
  background-position: right;
}

.HeartSelected {
  cursor: pointer;
  height: 80px;
  width: 80px;
  background-image: url('https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: 2900%;
}

@media only screen and (max-width: 450px) {
  .NameLabel {
    display: none;
  }

  .MobileNameLabelFirst {
    display: inline;
    font-family: 'Penna';
    font-size: 30px;
    font-weight: bold;
    line-height: 0px;
    letter-spacing: 5px;
    text-align: center;
  }

  .MobileNameLabelLast {
    font-family: 'Penna';
    font-size: 30px;
    font-weight: bold;
    line-height: 0px;
    letter-spacing: 5px;
    text-align: center;
    display: inline;
    margin-top: 5px;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 1100px) {
  .GridRow {
    display: none;
  }

  .GridRow2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .GridRowBlog {
    display: none;
  }

  .GridRowBlog2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .GridRowBlog {
    flex-direction: column;
  }

  .MentionsDetailRow {
    flex-direction: column;
  }

  .MentionsRowLeftContainer {
    justify-content: flex-start;
    margin-left: 30px;
  }
}

/* Laptops (smaller window sizes) ----------- */

@media only screen and (max-width: 750px) {
  .MobileNavBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .MobileDivider {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  }

  .Header {
    justify-content: center;
    align-items: center;
  }

  .NameLabel {
    text-align: center;
  }

  .AboutLabel {
    text-align: center;
  }

  .AboutLabelSecond {
    text-align: center;
  }

  .NavHeader {
    display: none;
  }

  .NavHeaderLink {
    margin: 10px;
  }

  .GridRow {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .GridRow2 {
    display: none;
  }

  .GridRowBlog {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .GridRowBlog2 {
    display: none;
  }

  .BlogReadMore {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .About {
    flex-direction: column;
  }

  .ProfileImageContainer {
    margin-top: 40px;
  }

  .AboutRightContainer {
    margin-top: 0px;
  }

  .DetailRow {
    flex-direction: column;
  }

  .DetailRowLeftContainer {
    display: flex;
    flex: 1;
    justify-content: center;
  }

  .DetailRowRightContainer {
    flex: 1;
    margin-left: 0px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  .OpenSourceAboutText {
    text-align: center;
  }

  .OpenSourceTitleLabel {
    text-align: center;
  }

  .MentionsRowRightContainer {
    align-items: center;
  }

  .BlockQuote {
    -webkit-margin-start: 10px;
    -webkit-margin-end: 10px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) {
  .MobileNavBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .MobileDivider {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  }

  .Header {
    justify-content: center;
    align-items: center;
  }

  .NameLabel {
    font-size: 30px;
    text-align: center;
  }

  .AboutLabel {
    margin-top: 0px;
    text-align: center;
    font-size: 15px;
  }

  .AboutLabelSecond {
    text-align: center;
    font-size: 15px;
  }

  .NavHeader {
    display: none;
  }

  .NavHeaderLink {
    margin: 10px;
  }

  .GridRow {
    flex-direction: column;
  }

  .GridRowBlog {
    flex-direction: column;
    margin-top: -10px;
  }

  .MentionsDetailRow {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .MentionsRowLeftContainer {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-bottom: 30px;
    margin-left: 0px;
  }

  .MentionsRowRightContainer {
    margin-left: 0px;
    margin-top: -200px;
  }

  .MentionsImage {
    width: auto;
    height: 180px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

